@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body::-webkit-scrollbar {
  display: none; }

#hambuger {
  position: fixed;
  width: 39px;
  height: 19px;
  top: 50px;
  left: 50px;
  cursor: pointer;
  z-index: 999; }

#hambuger > .line {
  position: absolute;
  width: 17px;
  height: 3px;
  background-color: white;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  bottom: 50%; }

#hambuger > .line_left {
  left: 0; }

#hambuger > .line_right {
  right: 0; }

#hambuger > .line::after {
  position: absolute;
  width: 17px;
  height: 3px;
  background-color: white;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  opacity: 1;
  content: " ";
  top: 6px; }

#hambuger > .line::before {
  position: absolute;
  width: 17px;
  height: 3px;
  background-color: white;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  opacity: 1;
  content: " ";
  bottom: 6px; }

#hambuger.active > .line::after {
  -webkit-transition: opacity;
  -o-transition: opacity;
  transition: opacity;
  opacity: 0; }

#hambuger.active > .line::before {
  -webkit-transition: opacity;
  -o-transition: opacity;
  transition: opacity;
  opacity: 0; }

#hambuger.active > .line_left {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 25px;
  left: 2px; }

#hambuger.active > .line_right {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 25px;
  left: 2px; }

#home {
  height: 100vh;
  background-image: url("../../../splitImage/hausenn/header_photo_background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative; }

.bg {
  background-image: url("../../../splitImage/hausenn/header_photo_background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: inherit;
  height: inherit;
  -webkit-transition: all ease;
  -o-transition: all ease;
  transition: all ease; }

.home_assets {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo {
  position: relative; }
  .logo::before {
    content: '';
    display: block;
    width: 175px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 100%;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); }
  .logo::after {
    content: '';
    display: block;
    width: 175px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 100%;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); }
  .logo img {
    display: block;
    max-width: 510px; }

.contact_btn {
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-95%);
  -ms-transform: translateY(-95%);
  transform: translateY(-95%); }
  .contact_btn img {
    max-width: 100px; }
    .contact_btn img:hover {
      opacity: 0.7; }

/*把變數帶入mixin中，此mixin只就單純把media queries寫到我的mixin中，
並且使用我上面設立的變數來調動media queries的width*/
.couture_banner_line, .collections_banner_line, .seasons_banner_line {
  width: calc(13% - 1px);
  height: 1vw;
  background-color: black; }

.parallax {
  padding: 0 100px;
  -webkit-perspective: 5px;
  perspective: 5px;
  -moz-perspective: 5px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective-origin-x: 50%;
  perspective-origin-x: 50%; }
  .parallax::-webkit-scrollbar {
    width: 0; }
  @media all and (max-width: 479px) {
    .parallax {
      padding: 0 30px; } }

.parallax_layer {
  position: absolute;
  -webkit-transform-origin-x: 50%; }

.layer__back {
  -webkit-transform: translateZ(-1px) scale(1.2);
  transform: translateZ(-1px) scale(1.2); }

.layer__base {
  -webkit-transform: translateZ(0) scale(1);
  transform: translateZ(0) scale(1); }

.layer__text {
  -webkit-transform: translateZ(1px) scale(0.8);
  transform: translateZ(1px) scale(0.8); }

.layer__top {
  -webkit-transform: translateZ(2px) scale(0.6);
  transform: translateZ(2px) scale(0.6); }

.parallax_group {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative; }
  .parallax_group img {
    width: 100%; }

.banner_title {
  text-align: center;
  margin-top: 50px; }

.banner_title img {
  height: 32px; }
  @media all and (max-width: 479px) {
    .banner_title img {
      height: 20px; } }

.main_banner {
  margin-top: 200px;
  margin-bottom: 95px; }
  @media all and (max-width: 479px) {
    .main_banner {
      margin-top: 50px;
      margin-bottom: 390px; } }
  .main_banner_colorArea {
    background-color: #efeceb;
    height: calc(50vh + 4px);
    width: 90%;
    max-width: 1028px;
    bottom: -95px;
    left: -2vw; }
    @media all and (max-width: 479px) {
      .main_banner_colorArea {
        height: 20vh;
        top: 0; } }
  .main_banner_text {
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 4pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    bottom: -60px;
    left: 33vw; }
    @media all and (max-width: 479px) {
      .main_banner_text {
        font-size: 0.5rem;
        line-height: 1rem;
        letter-spacing: 4pt;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold; } }

.sub_banner {
  margin: -1% 7% 570px 40px;
  width: calc(55% - 5px); }
  @media all and (max-width: 479px) {
    .sub_banner {
      display: none; } }
  .sub_banner_image {
    position: relative; }
  .sub_banner_text {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.05rem;
    line-height: 25pt;
    letter-spacing: 0.34em;
    font-weight: lighter;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -30vw; }

.mbbr {
  display: none; }
  @media all and (max-width: 479px) {
    .mbbr {
      display: inline; } }

.introduction_banner {
  padding-left: 350px; }
  .introduction_banner_title {
    top: -50vh;
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 4pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold; }
    @media all and (max-width: 479px) {
      .introduction_banner_title {
        font-size: 1rem;
        line-height: 2rem;
        letter-spacing: 4pt;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        bottom: 20vh;
        left: 0; } }
  .introduction_banner_subTitle {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.05rem;
    line-height: normal;
    letter-spacing: 0.34rem;
    font-weight: lighter;
    top: -35vh;
    right: 0; }
    @media all and (max-width: 479px) {
      .introduction_banner_subTitle {
        top: -20vh;
        left: 0; } }
  .introduction_banner_subLine {
    top: -35vh;
    width: 30px;
    height: 5px;
    margin-top: 20px;
    background-color: black; }
    @media all and (max-width: 479px) {
      .introduction_banner_subLine {
        left: -6vw; } }

.couture_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 340px;
  width: 90%; }
  @media all and (max-width: 479px) {
    .couture_banner {
      width: 100%;
      margin-bottom: 340px; } }
  .couture_banner_image {
    position: relative; }
  .couture_banner_colorArea {
    background-color: #efeceb;
    height: 100%;
    width: 44%;
    max-width: 1028px;
    top: 50px;
    right: 0; }
  .couture_banner_line {
    right: 9vw;
    bottom: 12vh; }
    @media all and (max-width: 479px) {
      .couture_banner_line {
        right: 5vw;
        bottom: 4vh; } }
  .couture_banner_title {
    font-size: 40pt;
    line-height: normal;
    letter-spacing: 6pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    right: 9vw;
    top: 6vh; }
    @media all and (max-width: 479px) {
      .couture_banner_title {
        font-size: 20pt;
        line-height: normal;
        letter-spacing: 6pt;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        right: 0;
        top: 3vh; } }
  .couture_banner_orderLink {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.05rem;
    line-height: 25pt;
    letter-spacing: 0.34rem;
    font-weight: lighter;
    border: 1px solid;
    height: 100px;
    width: calc(10vw - 12px);
    padding: 0 6px;
    top: 18vh;
    right: 9vw; }
    @media all and (max-width: 479px) {
      .couture_banner_orderLink {
        width: 20vw;
        top: 7vh;
        right: 0;
        border: none; } }

.collections_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 90px;
  padding-left: 7%;
  width: calc(41% + 2px); }
  @media all and (max-width: 479px) {
    .collections_banner {
      width: 60%;
      margin-bottom: 90px; } }
  .collections_banner_image {
    position: relative; }
  .collections_banner_colorArea {
    background-color: #efeceb;
    height: 425px;
    width: 90%;
    max-width: 1028px;
    top: -20vh;
    left: -5vw; }
    @media all and (max-width: 479px) {
      .collections_banner_colorArea {
        background-color: #efeceb;
        height: 150px;
        width: 90%;
        top: -3vh; } }
  .collections_banner_line {
    margin-top: 20px;
    left: 10vw;
    bottom: 7vh; }
    @media all and (max-width: 479px) {
      .collections_banner_line {
        left: 10vw;
        top: 9vh; } }
  .collections_banner_title {
    font-size: 40pt;
    line-height: normal;
    letter-spacing: 6pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    top: 15vh;
    left: 7vw; }
    @media all and (max-width: 479px) {
      .collections_banner_title {
        font-size: 15pt;
        line-height: normal;
        letter-spacing: 6pt;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        top: 3vh;
        left: 4vw; } }
  .collections_banner_orderLink {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.05rem;
    line-height: 25pt;
    letter-spacing: 0.34rem;
    font-weight: lighter;
    border: 1px solid;
    height: 100px;
    width: calc(10vw - 12px);
    padding: 0 6px;
    top: -6vh;
    left: 3vw; }
    @media all and (max-width: 479px) {
      .collections_banner_orderLink {
        width: 20vw;
        top: 6vh;
        right: 0;
        border: none;
        left: 7vw; } }

.seasons_banner {
  margin-left: auto;
  width: 34%; }
  @media all and (max-width: 479px) {
    .seasons_banner {
      width: 40%; } }
  .seasons_banner_image {
    position: relative; }
  .seasons_banner_colorArea {
    background-color: #efeceb;
    height: 16vw;
    width: 46%;
    max-width: 1028px;
    bottom: 10vh;
    left: -8vw; }
    @media all and (max-width: 479px) {
      .seasons_banner_colorArea {
        background-color: #efeceb;
        height: 18vw;
        width: 50%;
        bottom: 7vh; } }
  .seasons_banner_line {
    margin-top: 20px;
    right: 6vw;
    bottom: 18vh; }
    @media all and (max-width: 479px) {
      .seasons_banner_line {
        bottom: 8vh;
        right: 0;
        left: -27vw; } }
  .seasons_banner_title {
    font-size: 40pt;
    line-height: normal;
    letter-spacing: 6pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 40pt;
    letter-spacing: 6pt;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-weight: bold;
    left: -21vw;
    top: 34vh; }
    @media all and (max-width: 479px) {
      .seasons_banner_title {
        font-size: 15pt;
        line-height: normal;
        letter-spacing: 6pt;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        top: 4vh;
        left: -30vw; } }
  .seasons_banner_orderLink {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.05rem;
    line-height: 25pt;
    letter-spacing: 0.34rem;
    font-weight: lighter;
    border: 1px solid;
    height: 100px;
    width: calc(10vw - 12px);
    padding: 0 6px;
    bottom: 33vh;
    left: -9vw; }
    @media all and (max-width: 479px) {
      .seasons_banner_orderLink {
        width: 20vw;
        border: none;
        bottom: 5.5vh;
        left: -28vw; } }
  .seasons_banner_bgImage {
    z-index: -1;
    bottom: -45vh;
    left: -18vw;
    max-width: 587px; }
    @media all and (max-width: 479px) {
      .seasons_banner_bgImage {
        bottom: -18vh; } }
