/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */

#hamburg.hausenn_color1 .line {
  background-color: #decbc6 !important
}

#hamburg.hausenn_color1 .line::after, #hamburg.hausenn_color1 .line::before {
  background-color: #decbc6 !important
}

#hamburg.kerway_color1 .line {
  background-color: #fff !important
}

#hamburg.kerway_color1 .line::after, #hamburg.kerway_color1 .line::before {
  background-color: #fff !important
}

#hamburg.sonstay_color1 .line {
  background-color: #eacf11 !important
}

#hamburg.sonstay_color1 .line::after, #hamburg.sonstay_color1 .line::before {
  background-color: #eacf11 !important
}

#hamburg.red .line {
  background-color: red
}

#hamburg.red .line::after, #hamburg.red .line::before {
  background-color: red
}

#hamburg.black .line {
  background-color: #000
}

#hamburg.black .line::after, #hamburg.black .line::before {
  background-color: #000
}

#hamburg.white .line {
  background-color: #FFF
}

#hamburg.white .line::after, #hamburg.white .line::before {
  background-color: #FFF
}

#hamburg.invert {
  filter: invert(1)
}

#hamburg>.line, #hamburg>.line::after, #hamburg>.line::before {
  width: 12px;
  height: 2px;
  background-color: #000;
  opacity: 1;
  transition: 0.3s
}

#hamburg {
  position: fixed;
  left: 15px;
  top: 15px
}

@media (min-width: 768px) {
  #hamburg {
    left: 50px;
    top: 50px
  }
}

#hamburg {
  z-index: 1001;
  cursor: pointer;
  position: relative;
  width: 28px;
  height: 28px
}

#hamburg>.line {
  position: absolute
}

#hamburg>.line::after, #hamburg>.line::before {
  content: '';
  position: absolute;
  transition-delay: 0.2s
}

#hamburg>.line::before {
  top: 6px
}

#hamburg>.line::after {
  bottom: 6px
}

#hamburg>.line_left, #hamburg>.line_right {
  bottom: 50%
}

#hamburg>.line_left {
  left: 0
}

#hamburg>.line_right {
  right: 0
}

#hamburg.active>.line::after, #hamburg.active>.line::before {
  opacity: 0;
  transition: opacity
}

#hamburg.active>.line_left, #hamburg.active>.line_right {
  position: absolute;
  width: 20px;
  left: 4px
}

#hamburg.active>.line_left {
  transform: rotate(-45deg)
}

#hamburg.active>.line_right {
  transform: rotate(45deg)
}

.welcome_contenter {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden
}

.welcome_contenter .welcome_front {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column
}

.welcome_contenter .welcome_front .welcome_center {
  margin: 0 auto;
  max-width: 510px
}

.welcome_contenter .welcome_front .welcome_center img {
  width: 100%
}

.welcome_contenter .welcome_front .down_arrow {
  height: 34px;
  width: auto
}

.welcome_contenter .welcome_front .down_arrow .gotobanner {
  display: block;
  animation: 0.4s arrow_dance alternate infinite cubic-bezier(0.46, 0.03, 0.52, 0.96)
}

.welcome_contenter .welcome_front .down_arrow .gotobanner img {
  height: 34px;
  display: block
}

@keyframes arrow_dance {
  to {
    transform: translateY(5px)
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transform: translateX(-120vw);
  transition: 0.3s
}

@media (min-width: 768px) {
  nav {
    width: 590px;
    transform: translateX(-590px)
  }
}

nav.show {
  transform: translateX(0);
  width: 100vw
}

nav .main_menu>.brand, nav .main_menu>.sub_brand, nav .sub_menu>a:nth-child(1) img, nav .sub_menu>a:nth-child(2) img, nav .sub_menu>a:nth-child(3) img, nav .contact {
  transform: translateX(-590px)
}

nav.show .main_menu>.brand {
  transform: translateX(0);
  transition: transform .2s 0s
}

nav.show .main_menu>.sub_brand {
  transform: translateX(0);
  transition: transform .2s .1s
}

nav.show .sub_menu>a:nth-child(1) img {
  transform: translateX(0);
  transition: transform .2s .2s
}

nav.show .sub_menu>a:nth-child(2) img {
  transform: translateX(0);
  transition: transform .2s .3s
}

nav.show .sub_menu>a:nth-child(3) img {
  transform: translateX(0);
  transition: transform .2s .4s
}

nav.show .contact {
  transform: translateX(0);
  transition: transform .2s .5s
}

#nav {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 55px;
  height: 100vh;
  width: 100%
}

@media (min-width: 768px) {
  #nav {
    width: 590px
  }
}

#nav>div {
  padding: 0 15px
}

@media (min-width: 768px) {
  #nav>div {
    padding-left: 145px;
    padding-right: 90px
  }
}

#nav img {
  max-width: 100%;
  height: 100%
}

#nav>.main_menu {
  display: flex;
  flex-direction: column
}

#nav>.main_menu .brand, #nav>.main_menu .sub_brand {
  font-size: 0
}

#nav>.main_menu .brand>a img, #nav>.main_menu .sub_brand>a img {
  height: auto
}

#nav>.main_menu .brand>a {
  max-width: 45.1%;
  display: block;
  margin-bottom: 12px
}

@media (min-width: 768px) {
  #nav>.main_menu .brand>a {
    margin-bottom: 15px
  }
}

#nav>.main_menu .sub_brand {
  display: flex
}

#nav>.main_menu .sub_brand>a {
  position: relative
}

#nav>.main_menu .sub_brand>a+a {
  padding-top: .5%;
  margin-left: 31px;
  position: relative
}

#nav>.main_menu .sub_brand>a+a::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 2px;
  width: 1px;
  height: 90%
}

#nav>.main_menu .sub_brand>a[href='./hausenn.php'] img, #nav>.main_menu .sub_brand>a[href='./kerway.php'] img, #nav>.main_menu .sub_brand>a[href='./sonstay.php'] img {
  display: block
}

#nav>.main_menu .sub_brand>a[href='./hausenn.php'] img+img, #nav>.main_menu .sub_brand>a[href='./kerway.php'] img+img, #nav>.main_menu .sub_brand>a[href='./sonstay.php'] img+img {
  position: absolute;
  top: 145%;
  left: 0;
  right: 0;
  margin: auto;
  height: 68%
}

#nav>.sub_menu>a {
  display: block;
  height: 30px
}

#nav>.sub_menu>a+a {
  margin-top: 42px
}

#nav>.sub_menu>a[data-page="contact_page"] {
  visibility: visible
}

@media (min-width: 768px) {
  #nav>.sub_menu>a[data-page="contact_page"] {
    visibility: hidden
  }
}

@media (min-width: 768px) {
  #nav>.sub_menu .desktop_hidden {
    display: none
  }
}

#nav>.contact {
  margin-bottom: 50px;
  font-size: 0
}

@media (min-width: 768px) {
  #nav>.contact {
    margin-bottom: 125px
  }
}

#nav>.contact>a {
  display: inline-block
}

#nav>.contact>a i {
  font-size: 18px
}

#nav>.contact>a+a {
  margin-left: 15px
}

#nav>.contact>a[data-page="contact_page"] {
  visibility: hidden
}

@media (min-width: 768px) {
  #nav>.contact>a[data-page="contact_page"] {
    visibility: visible
  }
}

.go_to_contact_label {
  position: fixed;
  bottom: 50%;
  right: 0;
  opacity: 1;
  display: none;
  margin-bottom: -3px
}

.go_to_contact_label:hover {
  opacity: .6
}

@media (min-width: 768px) {
  .go_to_contact_label {
    display: block
  }
}

.go_to_contact_label img {
  width: 100px
}

.go_to_contact_label.inverse img {
  transition: .3s;
  -webkit-filter: invert(1);
  filter: invert(1)
}

.debug-on .parallax__group {
  -webkit-transform: translate3d(0, 0, -5px) rotateY(30deg);
  transform: translate3d(0, 0, -5px) rotateY(30deg)
}

.debug-on .parallax__layer {
  box-shadow: 0 0 0 2px #000;
  opacity: 0.9
}

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 5px;
  perspective: 5px;
  -webkit-perspective-origin-x: 36%;
  perspective-origin-x: 36%
}

@media (min-width: 769px) {
  .parallax {
    -webkit-perspective-origin-x: 50%;
    perspective-origin-x: 50%
  }
}

.parallax__group {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d
}

.parallax__layer {
  -webkit-transform-origin: 50%;
  transform-origin: 50%
}

.layer--back1 {
  -webkit-transform: translateZ(-1px) scale(1.2);
  transform: translateZ(-1px) scale(1.2);
  z-index: -10
}

.layer--back2 {
  -webkit-transform: translateZ(-2px) scale(1.4);
  transform: translateZ(-2px) scale(1.4);
  z-index: 20
}

.layer--back3 {
  -webkit-transform: translateZ(-3px) scale(1.6);
  transform: translateZ(-3px) scale(1.6);
  z-index: 30
}

.layer--base {
  -webkit-transform: translateZ(0) scale(1);
  transform: translateZ(0) scale(1);
  z-index: 0
}

.layer--front1 {
  -webkit-transform: translateZ(1px) scale(.8);
  transform: translateZ(1px) scale(.8);
  z-index: 10
}

.layer--front2 {
  -webkit-transform: translateZ(2px) scale(.6);
  transform: translateZ(2px) scale(.6);
  z-index: 20
}

.layer--front3 {
  -webkit-transform: translateZ(3px) scale(.4);
  transform: translateZ(3px) scale(.4);
  z-index: 30
}

.layer--front4 {
  -webkit-transform: translateZ(4px) scale(.2);
  transform: translateZ(4px) scale(.2);
  z-index: 40
}

#contact_page {
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  color: #fff;
  background-color: #333333;
  background: url('../images/contact_background.png?1517193569');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 0 1px #333333 inset
}

#contact_page .contact_title {
  margin: 0 auto 40px
}

@media (max-width: 768px) {
  #contact_page .contact_title {
    margin-bottom: 0
  }
}

#contact_page .contact_title>div {
  text-align: center
}

#contact_page .contact_title>div:first-child {
  margin-top: 50px;
  font-size: 25px;
  font-family: 'Open Sans', serif;
  font-weight: bold;
  letter-spacing: 8px
}

@media (max-width: 768px) {
  #contact_page .contact_title>div:first-child {
    font-size: 14px
  }
}

#contact_page .contact_title>div:last-child {
  letter-spacing: 8px;
  margin-top: 18px;
  font-size: 19px;
  font-weight: 300;
  font-family: 'Noto Sans', sans-serif
}

@media (max-width: 768px) {
  #contact_page .contact_title>div:last-child {
    font-size: 12px;
    margin-top: 0
  }
}

#contact_page .contact_container {
  max-width: 460px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  font-size: 14px;
  letter-spacing: 1px
}

#contact_page .contact_container input[type=email], #contact_page .contact_container input[type=submit], #contact_page .contact_container input[type=tel], #contact_page .contact_container input[type=text], #contact_page .contact_container select, #contact_page .contact_container #i_wish {
  border: 1px #fff solid;
  color: #fff;
  background-color: transparent
}

#contact_page .contact_container input[type=email], #contact_page .contact_container input[type=submit], #contact_page .contact_container input[type=tel], #contact_page .contact_container input[type=text], #contact_page .contact_container select {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  width: 100%
}

#contact_page .contact_container .select_wrap {
  position: relative
}

#contact_page .contact_container .select_wrap i {
  position: absolute;
  right: 0;
  top: 4px;
  font-size: 20px;
  pointer-events: none
}

#contact_page .contact_container select:focus {
  background-color: #333333
}

#contact_page .contact_container label {
  display: block;
  margin-top: 35px
}

#contact_page .contact_container #i_wish {
  border: 1px solid;
  display: none
}

#contact_page .contact_container #i_wish+label::after {
  content: '';
  position: absolute;
  top: 48px;
  left: 23px;
  cursor: pointer;
  border: 1px solid #FFF;
  width: 7px;
  height: 4px;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  background: transparent;
  opacity: 0
}

#contact_page .contact_container #i_wish:checked+label::after {
  opacity: 1
}

#contact_page .contact_container #i_wish+label {
  margin-top: 35px
}

#contact_page .contact_container #i_wish+label span {
  font-size: 18px;
  padding-right: 4px
}

@media (max-width: 768px) {
  #contact_page .contact_container .submit {
    text-align: center
  }
}

#contact_page .contact_container #submit {
  font-size: 14px;
  width: 140px;
  padding: 8px;
  border: 1px #fff solid;
  background-color: transparent;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 20px
}

@media (max-width: 768px) {
  #contact_page .contact_container #submit {
    font-size: 13px;
    font-weight: 300
  }
}

#contact_page .contact_container textarea {
  width: 100%;
  border: 1px #fff solid;
  background-color: transparent;
  height: 190px
}

#contact_page .contact_container input, #contact_page .contact_container label, #contact_page .contact_container select {
  font-size: 12px;
  letter-spacing: 2px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  padding: 2.5px;
  margin-bottom: 13px
}

@media (max-width: 768px) {
  #contact_page .contact_container input, #contact_page .contact_container label, #contact_page .contact_container select {
    margin-bottom: 0;
    font-size: 12px
  }
}

@media (max-width: 768px) {
  #contact_page .contact_container .haveto {
    display: none
  }
}

#contact_page .contact_container .haveto div>label {
  font-size: 12px
}

.view_page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden
}

.view_page .page {
  width: 100vw;
  transition: left .5s;
  transition-timing-function: cubic-bezier(0.65, 0.03, 1, 0.58)
}

.view_page #main_page {
  position: absolute;
  left: -50vw
}

.view_page #main_page.show, .view_page #main_page.init {
  position: absolute;
  left: 0
}

.view_page .side_page {
  position: absolute;
  left: 150vw
}

.view_page .side_page.show {
  position: absolute;
  left: 0
}

footer {
  width: 100vw
}

footer .footer_contener {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'Noto Sans', sans-serif
}

footer .footer_contener .copyright, footer .footer_contener .footer_logo {
  text-align: left
}

@media (min-width: 768px) {
  footer .footer_contener .copyright, footer .footer_contener .footer_logo {
    text-align: right
  }
}

footer .footer_contener .addrZh, footer .footer_contener .mail_phone, footer .footer_contener .copyright, footer .footer_contener .footer_logo {
  width: 100%
}

@media (min-width: 768px) {
  footer .footer_contener .addrZh, footer .footer_contener .mail_phone, footer .footer_contener .copyright, footer .footer_contener .footer_logo {
    width: 50%
  }
}

footer .footer_contener .addrZh, footer .footer_contener .copyright {
  margin-top: 25px
}

@media (min-width: 768px) {
  footer .footer_contener .addrZh, footer .footer_contener .copyright {
    margin-top: 0px
  }
}

footer .footer_contener .addrZh {
  order: 2
}

@media (min-width: 768px) {
  footer .footer_contener .addrZh {
    order: 1
  }
}

footer .footer_contener .footer_logo {
  order: 1
}

@media (min-width: 768px) {
  footer .footer_contener .footer_logo {
    order: 2
  }
}

footer .footer_contener .mail_phone {
  order: 3
}

footer .footer_contener .copyright {
  order: 4
}

footer .footer_contener .addrZh, footer .footer_contener .mail_phone, footer .footer_contener .copyright {
  font-size: 12px;
  letter-spacing: 2pt;
  line-height: 24px
}

footer .footer_contener .addrZh {
  font-family: 'Noto Serif', serif
}

footer .footer_contener .footer_logo img {
  margin-right: auto;
  margin-left: 0;
  height: 23px
}

@media (min-width: 768px) {
  footer .footer_contener .footer_logo img {
    margin-right: 0;
    margin-left: auto;
    height: 50px
  }
}

::-webkit-scrollbar {
  width: 0px
}

::-webkit-scrollbar-thumb {
  background: black
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  z-index: 5000
}

.loading img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 130px;
  width: calc(100% - 100px);
  display: block;
  animation: flash 4.2s infinite ease-in-out
}

@keyframes flash {
  0% {
    opacity: 1
  }
  40% {
    opacity: 0.1
  }
  50% {
    opacity: 0
  }
  60% {
    opacity: 0.1
  }
  100% {
    opacity: 1
  }
}

footer .footer_contener, body #main_page .welcome_contenter .welcome_front .welcome_center, body #main_page .banner1 .banner_image1, body #main_page .banner2 .banner_text2_2, body #main_page .works .works_container {
  margin: 0 20px
}

@media (min-width: 768px) {
  footer .footer_contener, body #main_page .welcome_contenter .welcome_front .welcome_center, body #main_page .banner1 .banner_image1, body #main_page .banner2 .banner_text2_2, body #main_page .works .works_container {
    margin: 0 100px
  }
}

body {
  overflow: hidden;
  background-color: #fff !important;
  position: relative;
  color: #000
}

body #main_page {
  display: flex;
  flex-wrap: wrap
}

body #main_page .welcome_contenter .welcome_front .welcome_center {
  position: relative
}

body #main_page .welcome_contenter .welcome_front .welcome_center::after {
  position: absolute;
  width: 175px;
  height: 1px;
  top: 50%;
  left: 100%;
  background-color: #fff
}

@media (min-width: 768px) {
  body #main_page .welcome_contenter .welcome_front .welcome_center::after {
    content: ''
  }
}

body #main_page .welcome_contenter .welcome_front .welcome_center::before {
  position: absolute;
  width: 175px;
  height: 1px;
  top: 50%;
  right: 100%;
  background-color: #fff
}

@media (min-width: 768px) {
  body #main_page .welcome_contenter .welcome_front .welcome_center::before {
    content: ''
  }
}

body #main_page .banner_title, body #main_page .works_title {
  width: 100vw;
  padding-top: 15px
}

body #main_page .banner_title img, body #main_page .works_title img {
  height: 20px
}

@media (min-width: 768px) {
  body #main_page .banner_title, body #main_page .works_title {
    padding-top: 50px
  }
  body #main_page .banner_title img, body #main_page .works_title img {
    height: 32px
  }
}

body #main_page .works_title {
  margin-bottom: 35px
}

@media (min-width: 768px) {
  body #main_page .works_title {
    margin-bottom: 175px
  }
}

body #main_page .banner1 {
  padding-top: 35px;
  width: 100%;
  margin-bottom: 165px
}

@media (min-width: 768px) {
  body #main_page .banner1 {
    padding-top: 82px
  }
}

@media (min-width: 768px) {
  body #main_page .banner1 {
    margin-bottom: 300px
  }
}

body #main_page .banner1 .banner_image1 img {
  display: block;
  width: 100%;
  height: auto
}

body #main_page .banner2 {
  width: 100%;
  margin-bottom: 150px;
  text-align: right
}

@media (min-width: 768px) {
  body #main_page .banner2 {
    margin-bottom: 200px
  }
}

body #main_page .banner2 .banner_text2_1 {
  font-family: 'Noto Serif', serif;
  position: absolute;
  right: 21vw;
  text-align: right;
  font-size: 21pt;
  line-height: 35pt;
  bottom: 12vh;
  letter-spacing: 8pt
}

@media (min-width: 768px) {
  body #main_page .banner2 .banner_text2_1 {
    bottom: 28vh;
    font-size: 30pt;
    line-height: 46pt
  }
}

body #main_page .banner2 .banner_border2 {
  position: absolute;
  right: 23vw;
  background-color: #000;
  height: 4px;
  width: 36px;
  bottom: 12vh
}

@media (min-width: 768px) {
  body #main_page .banner2 .banner_border2 {
    bottom: 22vh
  }
}

body #main_page .banner2 .banner_text2_2 {
  font-family: 'Noto Serif', serif;
  padding-right: 8.7%;
  letter-spacing: 2pt;
  font-size: 12pt
}

@media (min-width: 768px) {
  body #main_page .banner2 .banner_text2_2 {
    font-size: 10pt;
    letter-spacing: 2pt
  }
}

body #main_page .banner3 {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  padding-top: 90vh
}

@media (min-width: 768px) {
  body #main_page .banner3 {
    height: 100vh
  }
}

@media (min-width: 768px) {
  body #main_page .banner3 {
    padding-top: 48vh
  }
}

body #main_page .banner3 .banner_text3_1 {
  font-family: 'Noto Serif', serif;
  position: absolute;
  top: 42vh;
  left: 8vw;
  font-size: 21pt;
  line-height: 35pt;
  letter-spacing: 2pt
}

@media (min-width: 768px) {
  body #main_page .banner3 .banner_text3_1 {
    top: 0;
    left: 18vw
  }
}

@media (min-width: 768px) {
  body #main_page .banner3 .banner_text3_1 {
    font-size: 240%;
    line-height: 65pt;
    letter-spacing: 3pt
  }
}

body #main_page .banner3 .banner_text3_2 {
  font-family: 'Noto Serif', serif;
  position: absolute;
  top: 45vh;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  left: 43vw;
  font-size: 12pt;
  line-height: 24pt;
  letter-spacing: 3pt
}

@media (min-width: 768px) {
  body #main_page .banner3 .banner_text3_2 {
    left: 38vw;
    top: 17vh
  }
}

@media (min-width: 768px) {
  body #main_page .banner3 .banner_text3_2 {
    font-size: 12pt;
    line-height: 26pt;
    letter-spacing: 5pt
  }
}

body #main_page .banner3 .banner_text3_3 {
  font-family: 'Noto Serif', serif;
  display: block;
  margin: 0 20px;
  font-size: 12pt
}

@media (min-width: 768px) {
  body #main_page .banner3 .banner_text3_3 {
    margin-left: 145px;
    padding: 0 5px
  }
}

@media (min-width: 768px) {
  body #main_page .banner3 .banner_text3_3 {
    font-size: 11pt;
    letter-spacing: 3pt;
    line-height: 20pt;
    max-width: 335px
  }
}

body #main_page .banner3 .banner_image31, body #main_page .banner3 .banner_image32, body #main_page .banner3 .banner_image33 {
  max-width: 150px
}

@media (min-width: 768px) {
  body #main_page .banner3 .banner_image31, body #main_page .banner3 .banner_image32, body #main_page .banner3 .banner_image33 {
    max-width: 390px
  }
}

body #main_page .banner3 .banner_image33 {
  position: absolute;
  top: 1vh;
  left: 47vw
}

@media (min-width: 768px) {
  body #main_page .banner3 .banner_image33 {
    top: 6vh;
    left: 64vw
  }
}

body #main_page .banner3 .banner_image32 {
  position: absolute;
  top: 0.5vh;
  left: 35vw
}

@media (min-width: 768px) {
  body #main_page .banner3 .banner_image32 {
    top: 3vh;
    left: 55vw
  }
}

body #main_page .banner3 .banner_image31 {
  position: absolute;
  top: 0;
  left: 23vw
}

@media (min-width: 768px) {
  body #main_page .banner3 .banner_image31 {
    top: 0;
    left: 46vw
  }
}

body #main_page .banner4 {
  width: 100%;
  margin-bottom: 50px
}

@media (min-width: 768px) {
  body #main_page .banner4 {
    width: 50%
  }
}

@media (min-width: 768px) {
  body #main_page .banner4 {
    margin-bottom: 267px
  }
}

body #main_page .works {
  width: 100vw;
  background-color: #000;
  padding-top: 15px
}

@media (min-width: 768px) {
  body #main_page .works {
    padding-top: 50px
  }
}

body #main_page .works .item {
  cursor: pointer
}

body #main_page .works .item.hide {
  display: none
}

body #main_page .works .works_title {
  position: relative
}

body #main_page .works .works_title img {
  filter: invert(1)
}

body #main_page .works .works_title .kanban {
  position: absolute;
  top: 96px;
  left: 50px;
  width: 100%;
  z-index: 10;
  color: #fff;
  line-height: 4rem;
  letter-spacing: 6pt;
  padding-top: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 26pt;
  font-weight: 700
}

body #main_page .works .works_title .kanban:first-line {
  font-size: 32pt;
  font-weight: 700
}

body #main_page .works .works_title .kanban::before {
  content: '';
  background-color: #fff;
  height: 16px;
  width: 130px;
  position: absolute;
  bottom: 100%;
  left: 0
}

body #main_page .works .works_container {
  min-height: 100vh;
  margin-top: 35px
}

@media (min-width: 768px) {
  body #main_page .works .works_container {
    margin-top: 145px;
    margin-bottom: 100px
  }
}

body #main_page .works .works_container .work_direct, body #main_page .works .works_container .work_dress, body #main_page .works .works_container .work_photo, body #main_page .works .works_container .work_style {
  display: none
}

body #main_page .works .works_container .img-responsive {
  border: none
}

body #works_filter.show {
  display: block
}

body #works_filter {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 47px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff
}

body #works_filter .show_all_icon, body #works_filter .scrolltop_icon {
  position: absolute;
  bottom: 100%;
  margin: auto 0
}

@media (min-width: 768px) {
  body #works_filter .show_all_icon, body #works_filter .scrolltop_icon {
    bottom: 0
  }
}

body #works_filter .show_all_icon, body #works_filter .scrolltop_icon {
  cursor: pointer;
  font-size: 15px
}

@media (min-width: 768px) {
  body #works_filter .show_all_icon, body #works_filter .scrolltop_icon {
    font-size: 24px
  }
}

body #works_filter .show_all_icon:hover, body #works_filter .scrolltop_icon:hover {
  color: rgba(204, 204, 204, 0.6)
}

body #works_filter .show_all_icon {
  position: absolute;
  left: 1vw
}

@media (min-width: 768px) {
  body #works_filter .show_all_icon {
    left: 4vw
  }
}

body #works_filter .items {
  font-size: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 840px
}

@media (min-width: 768px) {
  body #works_filter .items {
    margin-right: 100px;
    text-align: right
  }
}

body #works_filter .items input {
  position: absolute;
  opacity: 0
}

body #works_filter .items .item:hover, body #works_filter .items input:checked+.item {
  transform: translateY(calc(-100% + 47px));
}

body #works_filter .items .item {
  display: inline-block;
  min-width: 22%;
  font-size: 9pt;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 1pt;
  color: #fff;
  font-weight: 300;
  text-align: left;
  vertical-align: top;
  transform: translateY(0px);
  transition: transform 0.3s
}

body #works_filter .items .item .title1 {
  display: block;
  padding: 10px;
  margin-bottom: 0;
  text-shadow: 0 0 3px #333
}

body #works_filter .items .item ul {
  color: black;
  padding: 0.5em 0;
  margin-bottom: 0;
  background-color: #f2f2f2
}

body #works_filter .items .item ul span {
  padding: 0 10px
}

body #works_filter .items .item ul .title2 {
  font-weight: 500
}

body #works_filter .items .item ul li {
  list-style: none;
  padding: 2px 0 0;
  transition: background-color 0.3s cubic-bezier(0.15, 0.63, 0.67, 0.92)
}

body #works_filter .items .item ul li:hover {
  background-color: rgba(204, 204, 204, 0.6)
}

body #works_filter .items .item+input+.item {
  margin-left: 2em
}

@media (max-width: 768px) {
  body #works_filter .items .item+input+.item {
    margin-left: 0.5em
  }
}

body #works_filter .scrolltop_icon {
  position: absolute;
  right: 1vw
}

@media (min-width: 768px) {
  body #works_filter .scrolltop_icon {
    right: 4vw
  }
}

body .lg-outer .lg-current {
  width: 100%
}

body .lg-outer .lg-toolbar {
  padding: 40px;
  background: none;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  z-index: 2403
}

@media (max-width: 768px) {
  body .lg-outer .lg-toolbar {
    padding: 0
  }
}

body .lg-outer .lg-toolbar #lg-actual-size, body .lg-outer .lg-toolbar #lg-download {
  display: none
}

body .lg-outer .lg-toolbar .lg-close {
  float: left !important
}

body .lg-outer .lg-toolbar #lg-share>ul {
  background: none
}

body .lg-outer .lg-toolbar #lg-share>ul li a {
  color: #fff;
  font-size: 21px;
  padding: 10px 12px
}

body .lg-outer .lg-toolbar .lg-dropdown:after {
  display: none
}

body .lg-outer .lg-toolbar #lg-share:after {
  display: none
}

body .lg-outer .lg-toolbar .lg-icon {
  color: #fff
}

body .lg-outer .lg-toolbar .lg-icon>img {
  width: 19px
}

body .lg-outer .lg-toolbar #lg-share {
  padding: 10px 0
}

@media (max-width: 768px) {
  body .lg-outer .lg-toolbar #lg-share {
    display: none
  }
}

@media (max-width: 768px) {
  body .lg-outer .lg-actions {
    display: none
  }
}

body .lg-outer .lg-actions .lg-icon::before {
  content: ''
}

body .lg-outer .lg-actions .lg-icon::after {
  content: ''
}

body .lg-outer .lg-actions .lg-icon img {
  filter: invert(1);
  height: 20px
}

body .lg-outer .lg-actions .lg-next {
  right: 120px
}

body .lg-outer .lg-actions .lg-prev {
  left: 120px
}

body .lg-outer .lg-video-cont {
  z-index: 1999
}

body .lg-outer .lg-sub-html {
  font-size: 0;
  padding: 0;
  position: static
}

@media (max-width: 768px) {
  body .lg-outer .lg-sub-html {
    height: 100%
  }
}

body .lg-outer .lg-sub-html .kanban {
  display: none
}

body .lg-outer .lg-sub-html .work_inside_bg {
  z-index: 2400;
  position: absolute;
  top: 0;
  right: -100%;
  width: 110px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.5s
}

body .lg-outer .lg-sub-html .work_inside_hover {
  z-index: 2402;
  position: absolute;
  top: 0;
  right: 0;
  width: 110px;
  height: 100vh
}

body .lg-outer .lg-sub-html img {
  display: none;
  width: auto;
  height: 100vh;
  padding: 0;
  position: relative
}

@media (max-width: 768px) {
  body .lg-outer .lg-sub-html img {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: auto
  }
}

body .lg-outer .lg-sub-html iframe {
  display: none;
  padding: 0;
  width: 100%;
  height: 100vh;
  border: none
}

body .lg-outer .lg-sub-html .work_direct, body .lg-outer .lg-sub-html .work_dress, body .lg-outer .lg-sub-html .work_photo, body .lg-outer .lg-sub-html .work_style {
  position: absolute;
  right: -100%;
  transform: rotate(270deg);
  font-size: 12px;
  letter-spacing: 2px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  z-index: 2;
  text-align: left;
  transition: 0.5s;
  width: 150px;
  text-align: left;
  padding-left: 20px;
  padding-top: 75px;
  height: 36px
}

body .lg-outer .lg-sub-html .work_direct span, body .lg-outer .lg-sub-html .work_dress span, body .lg-outer .lg-sub-html .work_photo span, body .lg-outer .lg-sub-html .work_style span {
  font-size: 12px;
  font-weight: 300
}

body .lg-outer .lg-sub-html .work_direct {
  bottom: 66px;
  z-index: 2401
}

body .lg-outer .lg-sub-html .work_photo {
  bottom: 60px;
  z-index: 2401
}

body .lg-outer .lg-sub-html .work_style {
  bottom: 180px;
  z-index: 2401
}

body .lg-outer .lg-sub-html .work_dress {
  bottom: 300px;
  z-index: 2401
}

body footer {
  padding-top: 75px;
  padding-bottom: 65px;
  background-color: #fff
}

body footer .footer_contener {
  transition: 0.3s
}

body footer .footer_contener .addrZh, body footer .footer_contener .copyright, body footer .footer_contener .mail_phone {
  color: #000
}

body #nav a {
  color: #fff;
  transition: opacity .3s;
  opacity: 1
}

body #nav a:hover {
  color: #fff;
  opacity: .6
}

body #nav a:active, body #nav a:focus, body #nav a:visited {
  color: #fff
}

body #nav>.main_menu .sub_brand>a+a::before {
  background-color: #fff
}

body #nav>.main_menu .sub_brand>a img+img {
  transition: opacity 0.3s;
  opacity: 0
}

body #nav>.main_menu .sub_brand>a:hover img+img {
  opacity: 1
}

body #contact_page textarea {
  color: #fff
}

#main_page .banner1 img, #main_page .banner2 img, #main_page .banner3 img, #main_page .banner4 img {
  display: block;
  width: 100%;
  height: auto
}

#main_page .banner_title {
  order: 1
}

#main_page .banner1 {
  order: 2
}

#main_page .banner2 {
  order: 3
}

#main_page .banner3 {
  order: 5
}

@media (min-width: 768px) {
  #main_page .banner3 {
    order: 4
  }
}

#main_page .banner4 {
  order: 4
}

@media (min-width: 768px) {
  #main_page .banner4 {
    order: 5
  }
}

#main_page [src^="https://player.vimeo.com/video/"], #main_page [src^="https://www.youtube.com/embed/"] {
  box-shadow: 0 0 1px white
}

p.work_worl {
  display: none
}
