//先針對media queries的width設為變數
$pc-media: 960px;
$pcs-media: 959px;
$pad-media: 760px;
$pads-media: 759px;
$phone-media: 480px;
$phones-media: 479px;
/*把變數帶入mixin中，此mixin只就單純把media queries寫到我的mixin中，
並且使用我上面設立的變數來調動media queries的width*/
@mixin pc-width{
  @media all and (min-width: $pc-media) {
    @content;
  }
}
@mixin pad-width{
  @media all and (min-width:$pad-media) and (max-width: $pcs-media) {
    @content;
  }
}
@mixin small-pad-width{
  @media all and (min-width: $phone-media) and (max-width:$pads-media) {
    @content;
  }
}
@mixin phone-width{
  @media all and (max-width: $phones-media) {
    @content;
  }
}
