
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar { 
  display: none; 
}


ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

// h1, h2, h3 ,h4, h5, h6 {
//     margin: 0;
//     line-height: 1;
// }

// p {
//     margin: 0;
// }

button {
    border-style: none;
}

// select{
//     border: none;
//     -moz-appearance: none;
//     -webkit-appearance: none;
//     border-radius: 0;
// }
// select::-ms-expand { display: none; }

